@import url("https://cdn.jsdelivr.net/gh/serebrennikovasofa1/suncity-assets@ffe086ef35e20f24b2c947280e8be5005d52d814/suncity-ecvi.css");

@media screen and (max-width: 867px) {
    /* Одинаковое пространство сверху и снизу */
    #ecvi-booking-container .search-container {
        padding: 18px 12px !important;
    }

    /* Компактные вертикальные расстояния */
    #ecvi-booking-container
    .search-container
    .search-container-item {
        margin-top: 0 !important;
        margin-bottom: 5px !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    #ecvi-booking-container
    .search-container
    .search-container-item:last-child {
        margin-bottom: 0 !important;
    }

    #ecvi-booking-container #new-search {
        margin-top: 0 !important;
    }
}
